<% include partials/header %>

<p> <%= showCampground.name%> </p>

<img src="<%= showCampground.image %>">

<p> <%= showCampground.description %> </p>

<!-- Edit Page -->
<button class="btn btn-warning btn-xs"> 
	<a href="/campgrounds/<%= showCampground._id %>/edit"> Edit Photo </a> 
</button>

<!-- Delete Campground -->
<form action="/campgrounds/<%= showCampground._id %>?_method=DELETE" method="POST">
	<button class="btn btn-danger btn-xs"> Delete </button>	
</form>